/* 
Instead 1rem=1em =16px  ==>1px =0.0625

-----01 TYPOGRAFY SYSTEM

- FONT SIZ SYSTEM(px)
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
- FONT SIZ SYSTEM(rem)
0.625/0.75/0.875/1/1.125/1.25/1.5/1.875/2.25/2.75/3.25/3.875/4.625/5.375/6.125



- Font weights:
Tins:100
DEFULT: 300
 Mediom: 400
 Semi-bold: 600
 Bold: 700

- Line height:
Difult: 1
Small: 1.05
midium: 1.2
Paragraf_difalt: 1.6

-letter-spacing 
-0.5 px
0.75 px


---02 COLORS

PRIMERY:  #56bf8a

- Tins:  #89d2ad
- shades:#347353,#1a3929,#45996e
- Accent:#e0fe9c,#202020,
- greys :  rgb(241 245 249),#202020,#999,text-gray-600	

---- 05 SHADOWS

box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);

----06 BORDER RADUS
(rem)
Difult:  1 / 1.5 / 2 / 5 ;
(%) 50%

----07 WITESPACE

- SPACING SYSTEM (px)
2/4/8/12//16//24/32/48/64/80/96/128
- SPACING SYSTEM (rem)
0.125/0.25/0.5/1/1.5/2/3/4/5/6/8



/* main General */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* #root {
  display: flex;
  flex-direction: column;
} */

/* ***************** */
/* GENERAL */
/* **************** */
.BTN {
  border: none;
  width: fit-content;
  align-self: center;
  font-size: 0.625rem;
  font-weight: 200;
  padding-inline: 0;
  padding: 0.625rem 2rem;
  background-color: #56bf8a;
  color: aliceblue;
  transition: 1s all;
}
.BTN:hover {
  background-color: #89d2ad;
  color: #1a3929;
  transition: 1s all;
}
body {
  background-color: #56bf8a;
}
.AccentColor {
  color: #e0fe9c;
}
.bgShade2 {
  background-color: #45996e;
}
.bg-Tint1 {
  background-color: #89d2ad;
}
.bg-Shade3 {
  background-color: #1a3929;
}
/* ***************** */
/* nav-bar */
/* **************** */

.nav-bar {
  background-color: rgba(240, 248, 255, 0.373);
  width: -webkit-fill-available;
}
.iconz {
  color: #56bf8a;
  background-color: aliceblue;
}



Link:hover {
  transition: all 1s;
}
.Link {
  transition: all 1s;
}


/* *************** */
/* Hom page */
/* *************** */

/* first-sec */
.start-app {
  background-color: #347353;
  background-image: url(../Store/Imagez/hous2.jpg);
  background-blend-mode: darken;
}
/* .date {} */
/* .Main-title {} */
/* .start-box {} */
/* .name-title-box {} */
/* .Company-name {} */
/* .sec-title {} */
/* *************** */
/* About-sec */
b {
  color: #1a3929;
}
/* .About {} */
/* .About-title {} */
/* .About-description {} */
/* .About-link {} */

/* *************** */
/* user-code-sec */

.User-code {
  background-color: #347353;
}

/* *************** */
/* coment-sec */

.Reviews {
  background-color: #45996e;
}
/* .coment-Title {} */
/* .coment-box {} */
/* .quot {} */
/* .quoter {} */
/* *************** */
/* footer */

.Footer {
  background-color: #202020;
}
.company-name {
  font-family: sans-serif;
  font-size: 0.5rem;
}
.contact-box {
  color: #999;
}

.company-adreses {
  font-family: sans-serif;
  font-size: 0.5rem;
}
.description-OHB-box {
  font-family: sans-serif;
  font-size: 0.5rem;
}
/* .title-contact {} */

/* .adres {} */

/* .phone-number {} */

/* .email-ad {} */

/* .ofis-hours-title {} */

/* .work-time {} */

/* .sotial-title {} */

/* .social-links {} */

/* .sotial-item {} */

/* .footer-link {} */

/* .footer-imge {} */
.sotial-box {
  width: -webkit-fill-available;
  margin-top: -2rem;
}
.footer-icons {
  height: 1.2rem;
  width: 1.2rem;
  display: inherit;
  border-radius: 2rem;
  background-color: aliceblue;
}

/* ********* */
/*AvalableFile*/
/* ********* */

/* .transactionb-type {} */

/* .description-icon {} */

.Fast-Search {
  background-color: #1a3929;
}

.insaiden-nav {
  background-color: #89d2ad;
  color: #1a3929;
}

.AvalableFile {
  background-color: #347353;
  margin-top: -8rem;
}

.photo {
  width: -webkit-fill-available;
}

.house-type {
  font-size: 0.625rem;
}
/* ********* */
/*File PAGE*/
/* ********* */

/* .File-page-sec {} */

.call-btn {
  border: none;
  width: fit-content;
  align-self: center;
  font-size: 0.75rem;
  font-weight: 300;
  padding-inline: 0;
  padding: 0.5rem 3rem;
  background-color: #347353;
  color: #e0fe9c;
}
.p-file {
  color: #347353;
  background-color: rgba(240, 248, 255, 0.373);
}

/* ********* */
/*REGESTER PAGE*/
/* ********* */

.Submit-btn:hover {
  background-color: #56bf8a;
  color: #e0fe9c;
}
.form-sec {
  margin-top: -8rem;
}

.active-btn {
  border: none;
  width: fit-content;
  align-self: center;
  font-size: 0.625rem;
  font-weight: 100;
  padding-inline: 0;
  padding: 0.625rem 2rem;
  background-color: #347353;
  color: #e0fe9c;
}
