/* 
Instead 1rem=1em =16px  ==>1px =0.0625

-----01 TYPOGRAFY SYSTEM

- FONT SIZ SYSTEM(px)
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
- FONT SIZ SYSTEM(rem)
0.625/0.75/0.875/1/1.125/1.25/1.5/1.875/2.25/2.75/3.25/3.875/4.625/5.375/6.125



- Font weights:
DEFULT: 300
 Mediom: 400
 Semi-bold: 600
 Bold: 700

- Line height:
Difult: 1
Small: 1.05
midium: 1.2
Paragraf_difalt: 1.6

-letter-spacing 
-0.5
0.75px


---02 COLORS

PRIMERY:  green
- Tins: #
- shades: # 
- Accent:greenyellow
- greys : aliceblue


---- 05 SHADOWS

box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);

----06 BORDER RADUS
(rem)
Difult:  1 / 1.5 / 2 / 5 ;
(%) 50%

----07 WITESPACE

- SPACING SYSTEM (px)
2/4/8/12//16//24/32/48/64/80/96/128
- SPACING SYSTEM (rem)
0.125/0.25/0.5/1/1.5/2/3/4/5/6/8



/* main General */



#root{
display: flex;
flex-direction: column;
margin: -1rem;
}
/* ***************** */
/* nav-bar */
/* **************** */
body{
  background-color: greenyellow;
}


.nav-bar{
  position: fixed;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0rem 0.5rem;
  margin-top: 1rem;
  width:-webkit-fill-available;

}

.nav-bar div{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  
}


.nav-bar div :hover{
  width: 1rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: rgba(215, 224, 231, 0.747) ;
  transition: all 0.5s;
}


.iconz{
  color: green;
}

.cliced{
  width: 1rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color:green;
  color: aliceblue;
}



/* *************** */
/* Hom page */
/* *************** */

.start-app{
  background-color: darkgreen;
  background-image: url(./Imagez/hous2.jpg);
  background-size: cover;
  background-repeat:no-repeat ;
  background-blend-mode:hard-light;
  height: 20rem;  
}
.About{
  background-color: greenyellow;
  height: 20rem;
  
}
.User-code{
  background-color: darkgreen;
  height: 20rem;
  
}
.Reviews{
  background-color: greenyellow;
  height: 20rem;
  
}
.Contact{
  background-color: darkgreen;
  height: 20rem;
}




/* ********* */
/* first-sec */
/* ********* */



.start-app{
color: aliceblue;
padding: 4rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}
.date{
  font-style: italic;
  font-family: serif;
  font-weight: 200;
  margin: 0;
  
}
.Main-title{
margin-top: 0;
font-family:sans-serif;
font-size: 2.25rem;

}
.start-box{
  display: flex;
  font-family:sans-serif;
  justify-content: space-between;
  gap: 2.5rem;

}
.name-title-box{
  display: flex;
  flex-direction: column;
}
.Company-name{
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
}
.sec-title{
  margin: 0;
  font-size: 0.75rem;
font-weight: 100;
}
.start-btn{
  border: none;
  font-size: 0.75rem;
}




















